

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'PT Sans', sans-serif;
}

#navbar {
	text-align: center;
	margin-top: 25px;
	margin-right: 35px;
}

/*Make shared classes - object oriented CSS*/

#fb-icon, #twitter-icon, #youtube-icon, #soundcloud-icon {
	height: 26px;
	width: 26px;
	margin-left: 35px;

}

#instagram-icon, #spotify-icon {
	height: 22px;
	width: 22px;
	margin-left: 35px;
}





#links {
	position: fixed;
    bottom: 200px;
	text-align: center;
}

.center {
	margin: auto;
    width: 100%;
}

.center button {
	margin-left: 0.5%;
}

#about-btn, #signup-btn, #listen-btn {
	width:240px; /*same as the height*/
	height:40px; /*same as the width*/
	background-color:transparent;
	border: 1px solid #fff; /*same colour as the background*/
	color:#fff;
	font-size:1.4em;
	/*set the border-radius at half the size of the width and height*/
	/*-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;*/
	/*give the button a small drop shadow*/
	/*-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
	box-shadow: 2px 2px 15px rgba(0,0,0, .75);*/
}

form{
	text-align: center;
	position: fixed;
	bottom: 50px;
}

input{
	margin-bottom: 5px;
}


/*modal bootstrap fix*/
.modal-header, .modal-footer {
	text-align: center !important;
}

.modal-content {
	background: black;
	opacity: 0.85;
}

.modal-header .close, .modal-title, .modal-body {
	color: #fff;
	line-height: 1.5;
	font-size: 1.1em;
}

.close{
	opacity: 1 !important;
}

.btn-default, .btn-default:hover, .sign-up-btn, .sign-up-btn:hover{
	text-shadow: none;
	background-image: none;
	background-repeat: none;
	background-color: #1ED760;
	border-color: #1ED760;
	color: #fff;
	font-weight: bold;
	width: 180px;
	line-height: 1.5;
}